* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    color: white;
}

.navbar {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    color: white;
}

.navbar-title {
    padding-left: 5px;
    font-size: 2.2rem;
    color: white;
}

.navbar-content a {
    font-size: 1.6rem;
    color: white;
}
