* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
html {
    font-size: 62.5%; 
}

/* Header */
.header {
    color: white;
}
.navbar {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    color: white;
}
.navbar-title {
    padding-left: 5px;
    font-size: 2.2rem;
    color: white;
}
.navbar-content a {
    font-size: 1.6rem;
    color: white;
}

/* Main */
.main {
    background: #1b2127;
}

/* carousel */
.carousel {
    position: relative;
}
.carousel-inner img {
    height: 75vh;
    object-fit: cover;
    filter: brightness(75%);
}
.carousel-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white; 
    z-index: 1;
}
.carousel-container--content {
    background-color: rgba(0, 0, 0, 0.3);
}
.carousel-container--content h1 {
    font-size: 3.5rem;
}
.carousel-container--content p {
    font-size: 2.2rem;
}

/* Separator */
.separator-container--content {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    padding: 10px 0;
}
.separator-container--content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
}

/* Curriculum  */
.curriculum {
    background: white;
}
.curriculum-title--img img {
    display: block;
    width: 250px;
    margin: 10px auto;
    border-radius: 20px;
}
.curriculum-title--text {
    text-align: center;
}
.curriculum-title--text h3{
    font-size: 2.4rem;
    font-weight: 700;
}
.curriculum-title--text p {
    font-size: 1.8rem;
}
.curriculum-content {
    padding: 0 15px;
}
.curriculum-content .curriculum-aptitudes h3, .curriculum-education h3, .curriculum-info h3{
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 2.4rem;
    font-weight: 700;
    border-bottom: 1px solid black;
    text-align: center;
}
.curriculum-aptitudes ul {
    padding-top: 10px;
    font-size: 2.2rem;
    font-weight: 600;
}
.curriculum-education {
    font-size: 1.8rem;
    font-weight: 700;
}
.curriculum-education h4 {
    padding-top: 10px;
    font-size: 2.2rem;
    font-weight: 700;
}
.curriculum-education p {
    font-size: 1.8rem;
    font-weight: 600;
}
.curriculum-education a, .curriculum-info a {
    font-size: 1.8rem;
    font-weight: 600;
}
.curriculum-info {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}
/* Proyectos */
.projects {
    background: white;
}
.projects-content {
    padding: 75px 0;
    font-size: 2.4rem;
    font-weight: 600;
}

/* Contact */
.contact {
    background: white;
}
.contact-email, .contact-social {
    padding-top: 20px;
    text-align: center;
}
.contact-email h3, .contact-social h3 {
    padding-bottom: 5px;
    font-size: 2.4rem;
    font-weight: 600;
    border-bottom: 1px solid black;
}
.contact-email p, .contact-social p{
    padding-top: 10px;
    font-size: 2.2rem;
}
/* Footer */
.footer {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg,#1c3643,#273b47 25%, #1e5372);
}
.footer .footer-social {
    padding: 15px 0;
}
.footer .footer-social img {
    width: 50px;
    height: 45px;
    padding-right: 10px;
}