#header {
    background: linear-gradient(90deg,#1c3643,#273b47 25%, #1e5372);
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(30%);
}

#main-content {
    -webkit-text-stroke: 1px rgb(41, 53, 77);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 1;
}

hr {
    color: blue;
    background-color: rgb(41, 189, 248);
}

#curriculum {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    background: #1b2127;
}

#curriculum-container {
    background: white;
}

#subs {
    border: 1px solid rgb(12, 187, 240); 
    text-align: center;
    border-radius: 25px;
}

#imgcurriculum img {
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

#servicios {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    background: #1b2127;
}

#servicios img {
    width: 100%;
    height: 300px;
}

#servicios-container {
    background: white;
}

#contacto {
    background: #1b2127;
}


#footer {
    background: linear-gradient(90deg,#1c3643,#273b47 25%, #1e5372);
}

#footer img {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

#footer a {
    color: white;
}

#banners {
    background: linear-gradient(90deg,#1c89c0,#1162db 25%, #1b5e85);
    
    color: white;
}
